body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f1f3f6;
}

nav {
  background-color: #2d2d2d;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 40px;
  color: white;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #f8d210;
  text-decoration: none;
}

.search-box {
  flex: 1;
  display: flex;
  justify-content: center;
  margin: 10px;
}

.search-box input {
  width: 50%;
  padding: 8px;
  border: none;
  border-radius: 4px 0 0 4px;
  outline: none;
}

.search-box button {
  padding: 8px 12px;
  border: none;
  background-color: #f8d210;
  color: #2d2d2d;
  font-weight: bold;
  cursor: pointer;
  border-radius: 0 4px 4px 0;
}

.nav-links a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
  font-size: 16px;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #f8d210;
}


.categories {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 20px auto;
  justify-content: center;
}

.category-btn {
  padding: 10px 16px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 6px;
  cursor: pointer;
  font-size: 15px;
  text-transform: capitalize;
  transition: all 0.3s ease;
}

.category-btn:hover {
  background: #2874f0;
  color: white;
  border-color: #2874f0;
}

.card {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 16px;
  text-align: center;
  margin: 16px;
}

.display {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  gap: 25px;
  padding: 40px 60px;
}

.card {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-8px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.card a {
  text-decoration: none;
  color: inherit;
  display: block;
  padding: 15px;
}

.card #down {
  font-weight: 700;
  color: rgba(0, 0, 0, 0.74);
}

.card h1 {
  font-size: 1.1rem;
  margin-bottom: 8px;
  color: #333;
}

.card p {
  font-size: 0.95rem;
  color: #666;
  margin-bottom: 4px;
}


.priceIn {
 font-size: 1.2rem;
  font-weight: 300;
  color: #202020;
  margin: 10px 0;
}
.old-price {
  text-decoration: line-through;
  color: #999;
  font-size: 1rem;
  margin-left: 10px;
}

.offer {
  color: #d32f2f;
  font-size: 1rem;
  margin-left: 10px;
  font-weight: 300;
}

@media (max-width: 768px) {
  nav {
    flex-direction: column;
    gap: 10px;
    padding: 15px;
  }

  .search-box input {
    width: 150px;
  }

  .display {
    padding: 20px;
    gap: 15px;
  }
}